html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system;
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game {
  display: block;
  width: 100vw;
  height: 100vh;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction,
#restart,
#perfect {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#introduction {
  width: 200px;
  height: 150px;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  display: none;
  cursor: pointer;
}

#perfect {
  opacity: 0;
  transition: opacity 2s;
}
